.unselectable {
  	user-select: none;
}

html, body, input, textarea, select, button {
  	color: #e8e6e3;
  	background-color: #181a1b;
	font-family: sans-serif;
}

* {
  	scrollbar-color: #454a4d #202324;
	text-shadow: 0px 0px 5px rgba(134, 134, 134, 0.431);
}

.fileUpload + label {
	padding: 2px 4px;
	font-size: 12.5px;
}

.btn{
	border: solid 2px black;
  	border-radius: 3px;
  	color: white;
  	transition: 555ms;
  	cursor: pointer;
}

.btn:hover{
  	background: rgb(85, 67, 44);
}

.btn:active{
  	transition: 0s;
  	background: rgb(45, 27, 4);
}

.windowDrag{
	position: absolute;
	padding: 3px 2px 3px 2px;
	border: 2px solid #736b5e;
	border-radius: 3px;
	text-align: center;
	color: white;
	background-color: #181a1b;
	border: solid 3px black;
	display: none;
	z-index: 1;
}

.windowDragHeader {
	padding: 8px 35px;
	margin: 2px;
	cursor: move;
	background-color: #181a1b;
	display: inline-block;
	border: double 3px black;
	vertical-align: middle;
}

.ele {
	transition: transform 250ms;
	width: fit-content;
}

.ele:hover {
	color: rgb(208, 223, 255);
	transform: translate(2px, 0px);
}

.ele:active {
	transition: color 250ms;
	color: rgb(255, 208, 208);
}

.removeds {
	animation: 300ms ease-in-out 0ms 1 normal forwards running removed;
}

@keyframes removed {
	from {
		opacity: 100%;
		transform: scale(1);
	}
	40% {
		transform: scale(1.1);
	}
	80 % {
	}
	to {
		opacity: 0%;
		transform: scale(0);
	}
}